<ion-content>
  <ion-button class="skipBtn" pull-right fill="clear" color="light" (click)="toHomePage()">SKIP</ion-button>
  <ion-slides pager="true">
  
  <!--Slide 1-->
  <ion-slide class="ion-padding">
    <ion-text color="dark">
     <img class="images" src ="../assets/LOGO.jpg">
      <h1>TIC TAC DO</h1>
      <p>The simplest way to keep your notes. Light, clean and free!</p>
    </ion-text>
  </ion-slide>
  
  <!--Slide 2-->
  <ion-slide class="ion-padding">
    <ion-text color="dark">
      <img class="ion-padding" src ="../assets/organized.png">
      <h1>Stay organized</h1>
      <p>Organized notes by implementing color codes depending on your mood.</p>
    </ion-text>
  </ion-slide>

  <!--Slide 3-->
  <ion-slide class="ion-padding">
    <ion-text color="dark">
      <img class="ion-padding" src ="../assets/search.png">
      <h1>Find things fast</h1>
      <p>Get what you need, when you need it. Search gives you results as you type.</p>
    </ion-text>
  </ion-slide>

   <!--Slide 4-->
   <ion-slide class="ion-padding">
    <ion-text color="dark">
      <img class="ion-padding" src ="https://image.freepik.com/free-vector/girl-writing-journal-diary_74855-7408.jpg">
      <h1>Let's get started!</h1>
      <p>Enjoy writing your tasks! Be productive and don't forget to take notes in TIC TAC DO.</p>
      <ion-button class="startBtn" (click)="toHomePage()" fill="solid" color="primary">START</ion-button>
    </ion-text>
  </ion-slide>

  </ion-slides>
  </ion-content>
  