<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addTask()">
        Add new
      </ion-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id = "container">
  <ion-list *ngFor="let task of tasks">
      <ion-card>
        <ion-card-content>
        <h1 class="title"> {{task.title}} </h1>
        <h2 class = "subtitle"> {{'substitle      :' + task.subtitle}}</h2>
        <h3 class = "content"> {{'content       :' + task.content}}</h3>
        <ion-icon name="trash" (click)="removeTask(task.id)"> </ion-icon>
        <ion-icon name="create-outline" (click)="updateTask(task)"> </ion-icon>
      </ion-card-content>
      </ion-card>
  </ion-list>
</div>

</ion-content>
