.title {
  font-size: 80%;
}


.subtitle {
  font-size: 80%;
 
}

.content {
  font-size: 80%;

}
 

#container {
  padding: 5px;
  columns: 2;
  column-gap: 5px;
}

.trash{
  --color-activated:red;
}

ion-card {
  width: 100%;
  margin: 0 0 10px 0;
  break-inside: avoid;
  background-color: whitesmoke;
}


ion-fab{
  margin-top: 156%;
  --color-hover:#47B3F3;
  --color-focused:#47B3F3;
  --background:#1da1f2;
}
  //ion-content {
    //--offset-bottom: auto!important;
    //--overflow: hidden;
   // overflow: auto;
    //&::-webkit-scrollbar {
     // display: none;
     // color: white;
    //}
    //}