.title {
  font-size: 80%;
}


.subtitle {
  font-size: 80%;
 
}

.content {
  font-size: 80%;

}
 

#container {
  padding: 5px;
  columns: 2;
  column-gap: 5px;
}


ion-card {
  width: 100%;
  margin: 0 0 10px 0;
  break-inside: avoid;
  background-color: whitesmoke;
}


  //ion-content {
    //--offset-bottom: auto!important;
    //--overflow: hidden;
   // overflow: auto;
    //&::-webkit-scrollbar {
     // display: none;
     // color: white;
    //}
    //}