<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addTask()">
        Add new
      </ion-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-list *ngFor="let task of tasks">
    <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h1 class="title"> {{task.title}} </h1>
        <h2 class = "substitle"> {{'substitle      :' + task.subtitle}}</h2>
        <h3 class = "content"> {{'content       :' + task.content}}</h3>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
    <ion-item-option color="danger" (click)="removeTask(task.id)">
    <ion-icon name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option color="success" (click)="updateTask(task)">
      <p>EDIT</p>
      </ion-item-option>
    

    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
